<!DOCTYPE html>
<html>

<head>
    <title>디버그</title>
    <link rel="stylesheet" type="text/css" href="css/mahjong.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <button id="newgame">새 게임</button>
        <p id="info"></p>
        <div id="dora"></div>
    </div>
    <div id="player"></div>
    <div id="paiSan"></div>
    <div id="king"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/debug.js"></script>

</body>

</html>