<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <title>Game</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mahjong.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div id="wait">Hey, this is game page # <%= id %>
    <p id="msg"></p></div>

    <div id="gameview"></div>
    <p id="state"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/mahjong.js"></script>
    <script src="/js/game.js"></script>
  </body>
</html>