<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    Hey, this is game page # <%= id %>
    <p id="msg"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    $(function() {
      let socket = io('/game<%= id %>');

      socket.on('user', function(people) {
        $('#msg').text('There are ' + people + ' people');
      });

      // 접속이 끊어지면 메인화면으로
      socket.on('disconnect', function() {
        window.location.href = '/';
      });
    });
    </script>
  </body>
</html>