<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQuery-Cookie -->
    <script src="lib/jquerycookie/jquery.cookie.js"></script>
    <!-- iconSelect.js -->
    <link rel="stylesheet" type="text/css" href="lib/iconselect/css/lib/control/iconselect.css" >
    <script src="lib/iconselect/lib/control/iconselect.js"></script>
    <script src="lib/iconselect/lib/iscroll.js"></script>

    <script src="js/index.js"></script>
  </head>

  <body>
    <form action="/login" method="POST">
      <input id="name" type="text" name="name">
      <input id="char" type="text" name="char">
      <div id="icon"></div>
      <input type="submit" value="로그인">
    </form>
  </body>
</html>