.rotate1 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.trans {
    opacity: 0.5;
}

.strong {
    outline: #F6FF00 solid;
}