html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#gameview {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

#player1 {
    position: absolute;
    top: 50%;
    right: 0px;
    width:200px;

    transform: rotate(-90deg);
}

#player3 {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 200px;

    transform: rotate(90deg);
}

.top {
    height: 30%;
}

.center {
      display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30%;
}

#river3, #infobox, #river1 {
    /*float: left;*/
}

#river1 {
    transform: rotate(-90deg);
}

#river3 {
    transform: rotate(90deg);
}

.centerbottom {
    /*clear: left;*/
}

#infobox {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.rotate1 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.trans {
    opacity: 0.5;
}

.strong {
    outline: #F6FF00 solid;
}